h1 {
	color: white;
}

.p-inputtext {
	background: #222222;
	color: white;
}

.p-button {
	color: black;
	background-color: yellow;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

.fortnite-font {
	font-family: Fortnite;
}
